
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("/css/font.css");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.top-bar {
    height: 75px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 20px;
    margin-bottom: 10px;
    
    .left-section {
        float: left;
    }
    .right-section {
        float: right;
    }
}

.card {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.list-group-item-action {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
    .d-flex {
        margin: 0.75rem 1.25rem; 
    }
    .progress-bar {
        background-color: #9a0ce3;
    }
    .progress {
        background-color: transparent;
    }
}

img {
    max-height: 100px;
}

.btn-primary {
    font-weight: 600;
    color: #a51fd1;
    background-color: #cebcd9;
    border: 1.5px solid #a51fd1;
}

@include media-breakpoint-up(xs) {
    .list-group-item-action {
        margin-bottom: 2.5%;
    }
}
@include media-breakpoint-up(sm) {
    .list-group-item-action {
        margin-bottom: 1.5%;
    }
}
@include media-breakpoint-up(md) {
    .list-group-item-action {
        margin-bottom: 1.0%;
    }
}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(xl) {}